<!DOCTYPE html>
<html>
<head>
    <title>医疗化验单识别</title>
</head>
<body>
    <form action="/upload/" method="POST" enctype="multipart/form-data">
        <input type="file" name="fileUpload" />
        <pr>
        <input type="text" name="idx"/>
        <pr>
        <input type="submit" value="上传文件"/>
        <pr>
<img src="media/upload/1.jpeg"  width="70%"alt="sample" />
</form>
<table border="1">
<tr><td>regular</td></tr>
<tr><td>白细胞</td><td>97.60</td><td>0-22.7</td><td>/uL</td><td></td><td>original</td><td>白细胞</td><td>97.60</td><td>0-22.7</td><td>/uL</td><td></td></tr>
<tr><td>上皮细胞</td><td>7.80</td><td>0-36.9</td><td>/UL</td><td></td><td>original</td><td>上皮细胞</td><td>7.80</td><td>0-36.9</td><td>/UL</td><td></td></tr>
<tr><td></td><td></td><td>0-2000</td><td>/LuL</td><td></td><td>original</td><td></td><td>阴性37.00</td><td>0-2000</td><td>/LuL</td><td></td></tr>
<tr><td></td><td></td><td>0-2.5</td><td>/uL</td><td></td><td>original</td><td></td><td>3-0.99</td><td>0-2.5</td><td>/uL</td><td></td></tr>
<tr><td>白细胞高倍视野</td><td>2.45</td><td>0-5</td><td>/HPF</td><td></td><td>original</td><td>白细胞高倍视野</td><td>2.45</td><td>0-5</td><td>/HPF</td><td></td></tr>
<tr><td>红细胞高倍视野</td><td>17.57</td><td>0-3</td><td>/HPF</td><td></td><td>original</td><td>红细胞高倍视野</td><td>17.57</td><td>0-3</td><td>/HPF</td><td></td></tr>
<tr><td>小圆细胞</td><td>1.40</td><td></td><td>/HPF</td><td></td><td>original</td><td>小圆细胞</td><td>1.40</td><td></td><td>/HPF</td><td></td></tr>
<tr><td>尿红细胞高倍视野</td><td>0.18</td><td>0-0.45</td><td>/HPF</td><td></td><td>original</td><td>尿红细胞高倍视野</td><td>0.18</td><td>0-0.45</td><td>/HPF</td><td></td></tr>
<tr><td>细菌高倍视野</td><td>6.66</td><td></td><td>/HPF</td><td></td><td>original</td><td>细菌高倍视野</td><td>6.66</td><td></td><td>/HPF</td><td></td></tr>
<tr><td>类酵母细胞</td><td>0.00</td><td></td><td></td><td></td><td>original</td><td>类酵母细胞</td><td>0.00</td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td>0-10</td><td>/UL</td><td></td><td>original</td><td></td><td>阴性20</td><td>0-10</td><td>/UL</td><td></td></tr>
<tr><td>小圆上皮细胞</td><td>6.20</td><td></td><td>/LuL</td><td></td><td>original</td><td>小圆上皮细胞</td><td>6.20</td><td></td><td>/LuL</td><td></td></tr>
<tr><td>红细胞信息</td><td></td><td></td><td>非均一</td><td></td><td>original</td><td>红细胞信息</td><td>非均一</td><td></td><td></td><td></td></tr>
<tr><td>电导率</td><td></td><td></td><td></td><td></td><td>original</td><td>电导率</td><td></td><td></td><td></td><td></td></tr>
<tr><td>尿路感染信息</td><td></td><td></td><td>尿路感染</td><td></td><td>original</td><td>尿路感染信息</td><td>尿路感染</td><td></td><td></td><td></td></tr>
<tr><td>粘液丝</td><td>1.13</td><td>0-7</td><td>/UL</td><td></td><td>original</td><td>粘液丝</td><td>1.13</td><td>0-7</td><td>/UL</td><td></td></tr>
<tr><td>病理管型</td><td>0.71</td><td></td><td>/UL</td><td></td><td>original</td><td>病理管型</td><td>0.71</td><td></td><td>/UL</td><td></td></tr>
<tr><td>白细胞</td><td></td><td></td><td>/UL</td><td></td><td>original</td><td>白细胞</td><td>阴性</td><td></td><td>/UL</td><td></td></tr>
<tr><td></td><td>-</td><td></td><td>阴性</td><td></td><td>original</td><td></td><td>-</td><td>阴性</td><td></td><td></td></tr>
<tr><td>尿蛋白</td><td>29</td><td></td><td>g/L</td><td></td><td>original</td><td>尿蛋白</td><td>29</td><td>阴性</td><td>g/L</td><td></td></tr>
<tr><td>尿胆原</td><td>-</td><td></td><td>阴性</td><td></td><td>original</td><td>尿胆原</td><td>-</td><td>阴性</td><td></td><td></td></tr>
<tr><td>葡萄糖</td><td>-</td><td></td><td>阴性</td><td></td><td>original</td><td>葡萄糖</td><td>-</td><td>阴性</td><td></td><td></td></tr>
<tr><td>尿酮体</td><td></td><td></td><td>mmoOl/L</td><td></td><td>original</td><td>尿酮体</td><td>阴性</td><td></td><td>mmoOl/L</td><td></td></tr>
<tr><td>胆红素</td><td>-</td><td></td><td>umoOl/L</td><td></td><td>original</td><td>胆红素</td><td>-</td><td>阴性</td><td>umoOl/L</td><td></td></tr>
<tr><td>尿比重</td><td>1.020</td><td>1.015-1.02</td><td></td><td></td><td>original</td><td>尿比重</td><td>1.020</td><td>1.015-1.02</td><td></td><td></td></tr>
<tr><td>酸碱度</td><td>6.00</td><td>4.5-9</td><td></td><td></td><td>original</td><td>酸碱度</td><td>6.00</td><td>4.5-9</td><td></td><td></td></tr>
<tr><td>尿浊度</td><td>-</td><td></td><td></td><td></td><td>original</td><td>尿浊度</td><td>-</td><td></td><td></td><td></td></tr>
<tr><td>尿肌酐</td><td>1.0</td><td></td><td>g/g/L</td><td></td><td>original</td><td>尿肌酐</td><td>1.0</td><td></td><td>g/g/L</td><td></td></tr>
<tr><td>亚硝酸盐</td><td>-</td><td></td><td>/UL</td><td></td><td>original</td><td>亚硝酸盐</td><td>-</td><td>阴性</td><td>/UL</td><td></td></tr>
<tr><td>颜色</td><td></td><td></td><td>黄色</td><td></td><td>original</td><td>颜色</td><td>黄色</td><td></td><td></td><td></td></tr>
</table></body>
</html>